body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#videoPlayer{
    width: 640px;
    height: 360px;
    vertical-align: middle;
}

#videoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}