<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HW4</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="videoContainer">
            <video id="videoPlayer" controls></video>
        </div>
        <script src="{{ url_for('static',filename='js/dash.all.min.js') }}"></script>
        <script>
            (function(){
                //let url = "https://dash.akamaized.net/envivio/EnvivioDash3/manifest.mpd";
                let url = "{{ url_for('static',filename='data/result_dash.mpd') }}";
                let player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer"), url, true);
            })();
        </script>
    </body>
</html>